<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Redirect Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h2>Thank you for your review!</h2>
        <p>We truly appreciate you taking the time to share your thoughts with us. Your feedback plays an important role in helping us improve the course experience, and we’ll be sure to carefully consider your suggestions as we plan for future semesters. Your input helps shape a better learning environment for everyone, and we’re grateful for your contribution.</p>
        <a href="/">Go back to Home Page</a>
</html>